/* p{
    margin:0;
}

.first{
    background-color: antiquewhite;
    height: 50px;
    display: flex;
    justify-content: space-around;
}

.button{
    width: 150px;
    height: 20px;
    background-color: aquamarine;
    border-radius: 5px;
    border-color: aquamarine 2px;

} */


.first{
    background-color: green;
}